<style>
body{
    background-color:#1C1C1C;
    
}
p,h4,h1{
    color:#AEB404;
     text-align:center;
     font-family: 'Yeon Sung', cursive;
    font-family: 'Wallpoet', cursive;
    font-family: 'ZCOOL KuaiLe', cursive;
    
}
p{
  text-align:justify; 
  font-size: 25px; 
}
strong{
    text-align:center;
}
iframe{
    padding-top:60px;
}

</style>

<link href="https://fonts.googleapis.com/css?family=Wallpoet|Yeon+Sung|ZCOOL+KuaiLe&display=swap" rel="stylesheet">


<Section class="nosotros-section--1">
            <div class="container">
                <div class="row">
                    <div class="col col-sm-12 col-md-6">
                        <div class="pt-4 mt-4">
                                <h1>ZOLI</h1>
                            	<p>Nuestro propósito es transmitir  de manera especial y  paso a paso,
 				                    todo lo relevante en la inicialización de los
				                    niños en este mundo mágico de la programación, por tanto, nuestro interés es poder entender
				                    que programar no es para genios, y si tienes interés en ello, solo falta entusiasmo y dedicación para
				                    que con nuestro equipo podamos formarte de una manera sencilla.
                                     <br><strong>¡EMPECEMOS! </strong>
				                </p>
                           
                                   
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-6">
                        <div class="pt-4 mt-4 text-center">
                            <iframe width="560" height="315" src="/assets/programmer.png" frameBorder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </Section>